.avatar_select {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.avatar_select {
  height: 56px;
  font-size: 40px;
  padding: 0;
  overflow: hidden;
}

label {
  color: white;
}

.main-page-container {
  width: 100%;
  padding: 40px;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}
