.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 20px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.386);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(193, 223, 255, 1) 100%
  );


  .questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    text-align: left;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);

    form {
      display: flex;
      flex-direction: column;
      .question-text {
        color: black;
        font-size: 1.2em;
        padding: 0 0 20px 0;
      }

 
    }
  }

  
}
