.root {
  font-family: "Arial", sans-serif;
  background-color: #a2cffe;
  text-align: center;
  padding: 20px;
  border-radius: 23px;
  width: 300px;
  height: 500px;
}
.score1 {
  font-size: 1.5rem;
}

.score {
  font-size: 2rem;
  color: #007bff;
  padding: 20px;
}

.message {
  font-size: 1.5rem;
  color: #89abe3ff;
}
