:root {
  --blue: var(--button-background-color);
  --soft-blue: var(--button-gradient-end);
}

.werbung-container {
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.werbung-container p {
  color: var(--soft-blue);
  font-size: 24px;
}

.werbung-container h2 {
  color: white;
  margin: 0;
  font-size: 84px;
  font-weight: 800;
  text-shadow: 0 5px 0 var(--soft-blue), 0 -5px 0 var(--soft-blue);
}

.werbung-container img {
  width: 300px;
  border-radius: 12px;
}

.button {
  border: 2px solid rgba(193, 223, 255, 1);
  padding: 12px 15px;
  min-width: 120px;
  border-radius: 50px;
  font-size: 1em;
  outline: 6px solid #fdbb2d;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(166, 193, 221) 100%
  );
  color: #064f9d;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  cursor: pointer;

  &:hover {
    background-color: #043365;
    outline: 3px solid #064f9d;
  }
}
