#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
 */

.app-main-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  gap: 10;
  width: 500px;
  height: 700px;
  padding: 10px;
  color: #2f3542;
  background: rgba(255, 255, 255, 0.368);
  -webkit-backdrop-filter: blur(21px);
  backdrop-filter: blur(21px);
  border: 1px solid rgba(0, 0, 0, 0.152);

  box-shadow: inset 0 1px rgba(255, 255, 255, 0.508);
  outline: 6px solid rgba(255, 255, 255, 0.152);
}

.closeProfileLine {
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .close-btn {
    content: "\2715";
    text-decoration: none;
    border: none;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    font-size: 14px;

    background-color: rgba(0, 0, 0, 0.098);

    &:hover {
      color: rgba(255, 255, 255, 0.671);
      background: rgba(0, 0, 0, 0.098);
      border: none;
    }
  }
}

.closeProfileLine .avatarProfile {
  font-size: 18px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 1px 8px 1px 6px;
  background-color: rgba(0, 0, 0, 0.098);
}

.closeProfileLine .avatarProfile span {
  font-size: 14px;
  letter-spacing: 0.2px;
}

.btn_language {
  border: none;
  background: red;
  font-size: 14px;
  cursor: pointer;
  border-radius: 100px;
  padding: 6px 12px;
  text-align: center;
  letter-spacing: 0.2px;
  align-items: center;
  background: rgba(0, 0, 0, 0.098);
  color: #000000bd;
}
.btn_language:hover {
  color: rgba(255, 255, 255, 0.576);
}
