#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* 
.logo {
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
 */

.app-main-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  border-radius: 25px;
  width: 500px;
  height: 700px;
  padding: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(19px);
  backdrop-filter: blur(19px);
  border: 1px solid rgba(255, 255, 255, 0.421);
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.589);
  outline: 2px solid rgba(0, 0, 0, 0.443);
  position: relative; */

  border: 2px solid red;
  padding: 10px;
  width: 400px;
  height: 600px;
  /* min-height: 600px; */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
  background: white;
  border-radius: 35px;
  background: rgba(45, 44, 44, 0.5);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border: 2px solid rgba(45, 44, 44, 0.25);
  outline: 2px solid rgba(45, 44, 44, 0.5);
  box-shadow: inset 0 1px 1px #4b4b4b;
}

.app-main-header-inside {
  width: inherit;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.app-main-header-inside .avatarProfile {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 26px;
  border-radius: 50px;
  padding: 5px 8px;
  background: rgba(0, 0, 0, 0.082);
  -webkit-backdrop-filter: blur(39px);
  backdrop-filter: blur(39px);
}

.close-btn span {
  content: "\2715";
  text-decoration: none;
  color: rgba(255, 255, 255, 0.737);
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  font-size: 16px;
  padding: 5px 4px 3px 5px;
  transition: all 200ms;
  &:hover {
    color: white;
    background: rgba(12, 12, 12, 0.237);
    /* box-shadow: 0 0 2em #1c1c1c; */
  }
}
.close-btn {
  background-color: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.avatarProfile span:nth-child(1) {
  width: 20px;
  border-radius: 50px;
}
.app-main-header-inside .avatarProfile span {
  font-size: 16px;
  position: relative;
}

.btn_language{
  border:none;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.9;
  position: absolute;
  top:37px;
  left:8px;
}
.btn_language:hover{
  opacity: 0.7;
}

.btn_language:active{
  opacity: 1;
}