:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --soft-blue: #89abe3ff;
  --baby-blue: #a2cffe;
  --blue: #064f9d;
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* max-width: 1280px; */

  background-size: cover;
  background-repeat: no-repeat;
  border-image: fill 0 linear-gradient(#0003, #ededed);
  background-color: white;
  background-image: radial-gradient(
      at 38% 20%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  /* CSS code specific to mobile devices goes here */
  body {
    background-color: white;
    display: block;
    padding: 0;
    width: 100%;
  }
}

/* Media query for screens larger than 768px (typical desktop devices) */
@media only screen and (min-width: 768px) {
  /* CSS code specific to desktop devices goes here */
}
